[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none
